body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* overflow: scroll; */
}

.body-wrapper {
  width: 100vw;
  /* height: 100%; */
  min-height: 100vh;
  display: flex;
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fafafa;
  /* min-height: 100vh; */
}

.content-wrapper {
  /* width: 100%;
  height: 100%; */
  /* background-color: lightblue; */
  height: 750px;

  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  box-sizing: border-box;
  /* margin-bottom: 1%; */
}

.phone-layout-wrapper {
  width: 27.5%;
  height: 80%;
  /* background-color: midnightblue; */
  position: relative;
  z-index: 1000;
  min-width: 22rem;
  min-height: 35.43rem;
}

.phone-layout-img {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.image-transition-wrapper {
  display: flex;
  position: absolute;
  background-color: black;
  border-radius: 60px;
  height: 98%;
  width: 96%;
  top: 1%;
  left: 2%;
  z-index: -1;
}

.sample-image {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 60px;
  visibility: visible;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

.user-access-wrapper {
  width: 27.5%;
  height: 80%;
  /* background-color: indianred; */
  display: flex;
  flex-direction: column;
  gap: 1.5%;
  min-width: 22rem;
  min-height: 35.43rem;
}

.login-options-wrapper {
  border-radius: 1px;
  border: solid 1px #dbdbdb;
  width: 100;
  height: 68%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-wrapper {
  height: 25%;
  width: 80%;
  /* background-color: darkgoldenrod; */
  margin-bottom: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
}

.logo-wrapper img {
  height: 70%;
  width: 70%;
}

.login-credentials-wrapper {
  height: 35%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
  box-sizing: border-box;
  margin-bottom: 5%;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 3%;

  /* padding: 0px; */
}

.login-input {
  padding-left: 2%;
  height: 25%;
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  outline: none;
  /* width: 90%; */
}

.login-submit-button {
  margin-top: 3%;
  height: 23%;
  border-radius: 3px;
  border: none;
  background-color: #b2dffc;
  color: #fffffe;
  font-weight: 700;
  font-size: calc(10px + 6 * ((100vw - 300px) / 1620));
}

.separator {
  width: 100%;
  text-align: center;
  margin-bottom: 4%;
  color: #8e8e8e;
  font-size: calc(10px + 5 * ((100vw - 300px) / 1620));
  font-weight: 600;
}

.separator::before {
  content: '';
  display: inline-block;
  width: 32.5%;
  height: 1px;
  margin-bottom: 2%;
  background: black;
  margin-right: 4%;
  background-color: #dbdbdb;
}

.separator::after {
  content: '';
  display: inline-block;
  width: 32.5%;
  height: 1px;
  margin-bottom: 2%;
  background: black;
  margin-left: 4%;
  background-color: #dbdbdb;
}

.facebook-option {
  width: 80%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-bottom: 3%;
  border: none;
  background-color: transparent;
  color: #385185;
  font-weight: 600;
  text-decoration: none;
  font-size: calc(10px + 7 * ((100vw - 300px) / 1620));
}

.facebook-logo {
  height: 65%;
}

.password-recovery {
  width: 80%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  border: none;
  background-color: transparent;
  color: #00376b;
  text-decoration: none;
  font-size: calc(10px + 5 * ((100vw - 300px) / 1620));
}

.sign-up-wrapper {
  height: 13%;
  width: 100%;
  /* background-color: darkkhaki; */
  border-radius: 1px;
  border: solid 1px #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #262626;
  gap: 1%;
  font-size: calc(12px + 5 * ((100vw - 300px) / 1620));
}

.sign-up-redirect {
  background-color: transparent;
  border: none;
  color: #0095f6;
  /* font-weight: 700; */
  text-decoration: none;
  font-weight: 600;
}

.app-options-wrapper {
  height: 19%;
  width: 100%;
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 12%; */
  box-sizing: border-box;
  font-size: calc(12px + 5 * ((100vw - 300px) / 1620));
}

.app-redirect-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  /* gap: 0; */
  justify-content: center;
  /* justify-content: flex-end; */
}

.app-download-redirect {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  /* background-color: #00376b; */
  padding: 0;
}

.app-download-images {
  width: 95%;
  height: 90%;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 20%;
  width: 100%;
  gap: 6%;
  box-sizing: border-box;
  padding: 3% 2% 2% 2%;
}

.categories-wrapper {
  display: flex;
  justify-content: center;
  /* align-content: space-evenly; */
  align-items: center;
  width: 100%;
  /* height: 10%; */
  gap: 1%;
  font-size: calc(12px + 3 * ((100vw - 300px) / 1620));
  flex-wrap: wrap;
  flex: 1;
}

.category {
  text-decoration: none;
  color: #8e8e8e;
}

.get-the-app-text {
  color: #262626;
}

.no-visibility {
  opacity: 0;
  visibility: hidden !important;
}

@media only screen and (max-width: 800px) {
  .phone-layout-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .user-access-wrapper {
    width: 100%;
    height: 100%;
    min-width: auto;
  }
  .app-download-images {
    width: 85%;
    height: 80%;
  }
}

/* @media only screen and (max-height: 700px) {
  .body-wrapper {
    padding-top: 10%;
    height: 150vh;
  }
} */
