body {
  margin: 0;
  padding: 0;
}

.body-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.content-wrapper {
  width: 100%;
  height: 83%;
  /* background-color: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.image-transition-wrapper {
  width: 27.5%;
  height: 80%;
  background-color: midnightblue;
}

.user-access-wrapper {
  width: 27.5%;
  height: 80%;
  /* background-color: indianred; */
  display: flex;
  flex-direction: column;
  gap: 1.5%;
}

.login-options-wrapper {
  border-radius: 1px;
  border: solid 1px #dbdbdb;
  width: 100;
  height: 68%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-wrapper {
  height: 25%;
  width: 80%;
  /* background-color: darkgoldenrod; */
  margin-bottom: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0; */
}

.logo-wrapper img {
  height: 70%;
  width: 70%;
}

.login-credentials-wrapper {
  height: 35%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
  box-sizing: border-box;
  margin-bottom: 5%;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 2%;

  /* padding: 0px; */
}

.login-input {
  padding-left: 2%;
  height: 25%;
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  outline: none;
  /* width: 90%; */
}

.login-submit-button {
  margin-top: 3%;
  height: 25%;
  border-radius: 5px;
  border: none;
  background-color: #b2dffc;
  color: #fffffe;
}

.separator {
  width: 100%;
  text-align: center;
  margin-bottom: 4%;
  color: #8e8e8e;
}

.separator::before {
  content: '';
  display: inline-block;
  width: 32.5%;
  height: 1px;
  margin-bottom: 2%;
  background: black;
  margin-right: 4%;
  background-color: #dbdbdb;
}

.separator::after {
  content: '';
  display: inline-block;
  width: 32.5%;
  height: 1px;
  margin-bottom: 2%;
  background: black;
  margin-left: 4%;
  background-color: #dbdbdb;
}

.facebook-option {
  width: 80%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin-bottom: 3%;
  border: none;
  background-color: transparent;
  color: #385185;
  font-weight: 700;
  text-decoration: none;
}

.facebook-logo {
  height: 65%;
}

.password-recovery {
  width: 80%;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
  border: none;
  background-color: transparent;
  color: #00376b;
  text-decoration: none;
}

.sign-up-wrapper {
  height: 13%;
  width: 100%;
  /* background-color: darkkhaki; */
  border-radius: 1px;
  border: solid 1px #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  color: #262626;
  gap: 1%;
}

.sign-up-redirect {
  background-color: transparent;
  border: none;
  color: #0095f6;
  /* font-weight: 700; */
  text-decoration: none;
}

.app-options-wrapper {
  height: 19%;
  width: 100%;
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 12%; */
  box-sizing: border-box;
}

.app-redirect-wrapper {
  width: 100%;
  height: 60%;
  display: flex;
  /* gap: 0; */
  justify-content: center;
  /* justify-content: flex-end; */
}

.app-download-redirect {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: transparent;
  /* background-color: #00376b; */
  padding: 0;
}

.app-download-images {
  width: 95%;
  height: 90%;
  padding: 0;
}

.get-the-app-text {
  color: #262626;
}
